        <h1>{{portfolio.fields.title}}</h1>
        <div class="card">
          <div class="card-body">
            <p class="card-text" [innerHTML]="portfolio.fields.main_content"></p>
          </div>
        </div>

          <div class="card" *ngFor="let p of projects.all | paginate: { itemsPerPage: 3, currentPage: p }">
            <h4 class="card-title">{{p.title}}</h4>
            <div class="card-body">
              <p class="card-text" [innerHTML]="p.project_content"></p>
            </div>
          </div>
          <div class="card pagination-spacing">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>

