<h1>{{postPage.fields.blog_title}}</h1>
<div class="card">
  <div class="card-body">
    <p class="card-text">{{postPage.fields.blog_introduction}}</p>
  </div>
</div>

<div *ngFor="let post of posts | paginate: { itemsPerPage: 5, currentPage: p }">
    <div class="card">
        <h4 class="card-title">{{post.title}}</h4>
        <div class="card-body">
          <h6 class="card-text">Published: {{post.published | date:'medium'}}</h6>
          <br>
          <p [innerHTML]="post.summary"></p>
          <a [routerLink]="['/posts', post.slug]">Get Full Post</a>
        </div>
    </div>
</div>
<div class="card pagination-spacing">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
