<h1>{{postPage.fields.blog_title}}</h1>
<div class="card">
  <div class="card-body">
    <p class="card-text">{{postPage.fields.blog_introduction}}</p>
  </div>
</div>

<div *ngFor="let post of posts">
    <div class="card">
        <h4 class="card-title">{{post.title}}</h4>
        <div class="card-body">
          <h6 class="card-text">Published: {{post.published | date:'medium'}}</h6>
          <br>
          <h6 class="card-text">Share Post:</h6>
          <p><share-buttons [url]="post.url" [showCount]="true" [show]="5"></share-buttons></p>
          <br>
          <p [innerHTML]="post.body"></p>
        </div>
    </div>
</div>
