
<h1>{{resume.fields.resume_title}}</h1>
<div class="card">
    <div class="card-body">
      <p class="card-text" [innerHTML]="resume.fields.introduction"></p>
      <p id="resume" class="card-text"><a pageScroll href="#skills">Go to Skills</a></p>
    </div>
</div>
<div>
  <div class="card" *ngFor="let j of jobs.all">
      <h4 class="card-title">{{j.title}}</h4>
      <div class="card-body">
        <p class="card-text" [innerHTML]="j.content"></p>
      </div>
  </div>
</div>
<div>
  <div id="skills" class="card">
    <h4 class="card-title">{{resume.fields.skills_title}}</h4>
    <div class="card-body">
    <p class="card-text" [innerHTML]="resume.fields.skills_content"></p>
    <p class="card-text"><a pageScroll href="#resume">Return to Resume</a></p>
  </div>
</div>
