/* You can add global styles to this file, and also import other style files */

/* Import links for to allow share buttons to be used */
@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/default/default-theme';

@media only screen and (max-width: 1200px) {
  div.contact-size {
    position: relative;
    width: 100%;
  }
}

.navbar {
  border: 1px solid;
}
body {
  background-color: #F0F8FF;
  margin: 0;
  padding: 0;
  text-align: center;
}
.contact-size {
  position: fixed;
  width: 250px;
}

.pagination-spacing {
  text-align: center;
  padding-top: 3%;
  padding-right: 10%
}
h1 {
  text-align: center;
  text-align:center;
  background-color: #2A4550;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.fa {
  padding: 5px;
  font-size: 15px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background:black;
  color: white;
}

.fa-stack-overflow {
  background:red;
  color: white;
}

.card {
  margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding-bottom: 2%;
}

.card-title {
  background-color: #2A4550;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px
}

.container {
  text-align: left;
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid;
  background: white;
  height: 30px;
}
